.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--color-bg-alt);
    color: white;
    margin-top: 50px;
    box-shadow: var(--shadow-glow-accent);

    .footer-logo img {
        height: 50px;
        width: 50px;
        object-fit: contain;
        transition: transform 0.3s ease;
        aspect-ratio: 1/1;
        
        &:hover {
            transform: scale(1.2);
            box-shadow: var(--shadow-glow-accent);
        }
    }
    .footer-socials {
        display: flex;
        gap: 20px;
        align-items: center;

        img {
            height: 32px;
            width: auto;
            object-fit: contain;
            display: block;
            transition: transform 0.3s ease;
            
            &:hover {
                transform: scale(1.2);
                box-shadow: var(--shadow-glow-accent);
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
}