.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    
    @media (max-width: 992px) {
        justify-content: center;
    }
    
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background: var(--color-bg-alt);
    box-sizing: border-box;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px;
    max-width: 100%;;
    
    @media (max-width: 992px) {
        justify-content: center;
    }
    
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
}