.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
    
    @media (max-width: 992px) {
        justify-content: center;
    }
    
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.about {
    padding: 20px;
}