.project-page {
  width: 100%;
  padding-bottom: 50px;

  .project-banner {
    background-color: var(--color-bg-input);
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: var(--shadow-glow-accent);

    .banner-icon {
      width: 300px;
      height: 150px;
      object-fit: contain;
    }

    .banner-title {
      font-size: 2.5rem;
      margin: 0;
      color: var(--color-text-primary, #333);
    }

    .banner-description {
      font-size: 1.2rem;
      max-width: 800px;
      color: var(--color-text-secondary, #666);
    }
  }

  .project-content {
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;

    .content-row {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px;
      background: var(--color-bg-alt);
      border-radius: 15px;
      box-shadow: var(--shadow-glow-accent);


      @media (min-width: 768px) {
        flex-direction: row;
        align-items: stretch;
        gap: 20px;
      }

      &:nth-child(2) {
        @media (min-width: 768px) {
          flex-direction: row-reverse;
        }
      }

      .text-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @media (min-width: 768px) {
          max-height: 100%;
          overflow: auto;
        }

        h2 {
          font-size: 1.8rem;
          margin-bottom: 15px;
          color: var(--color-text-primary, #333);
          margin-top: 0;
          flex-shrink: 0;
        }
        p {
          line-height: 1.6;
          overflow: hidden;
          display: -webkit-box;
          // -webkit-line-clamp: auto;
          -webkit-box-orient: vertical;
        }
      }

      .image-column {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .project-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }

        .image-placeholder {
          width: 100%;
          height: 300px;
          background-color: #e0e0e0;
          border: 2px dashed #aaa;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #777;
          font-weight: bold;
        }
      }
    }
  }
}