.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    .header_nav {
        display: flex;
        gap: 20px;
        .header_nav_link {
            text-decoration: none;
            color: black;
            font-weight: bold;
            &:hover {
                color: grey;
            }
        }
    }
}