.contact-section {
  text-align: center;
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .contact-intro {
    font-size: 1.1rem;
    color: var(--color-text-secondary);
    margin-bottom: 3rem;
    text-align: center;
  }

  .contact-container {
    display: flex;
    justify-content: space-between; 
    gap: 2rem; 

    @media screen and (max-width: 1100px) {
    flex-direction: column;
    align-items: center
  } 

    .contact-info, .contact-phone, .contact-linkedin {
      flex: 1; 
      min-width: 200px; // Largeur min pour éviter que ce soit trop écrasé sur mobile
      
      background: var(--color-bg-input);
      padding: 2rem;
      border-radius: 15px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.05); // Ombre douce moderne
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: var(--shadow-glow-accent);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 1100px) {
        width: 80%;
      } 

      &:hover {
        transform: translateY(-5px);
        
      }

      h3 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
        font-weight: 600;
      }

      a {
        text-decoration: none; 
        color: var(--color-text-muted);// Couleur principale (à adapter selon votre thème)
        font-weight: 500;
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transition: color 0.2s;

        &:hover {
          color: var(--color-accent-primary);
        }

        // Style de l'icône FontAwesome
        svg {
          font-size: 1.2em;
        }
      }
    }
  }
}
