.hero {
  background-image: url("../../assets/baniere.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;


  @media (min-width: 920px) {
    height: 400px;
    background-position: 0% 33%;
  }

  &-content {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .subtitle {
      font-weight: bold;
      font-size: clamp(1.5rem, 5vw, 2.5rem);
      margin: 0;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .text {
      margin: 0;
      font-size: clamp(1rem, 2.5vw, 1.25rem);
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      padding: 20px;
    }
  }
}

.sr-only {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  font-size: 50px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  padding: 10px;
}